/* Fonts */
@font-face {
    font-family: Navigo Regular;
    src: url(./Fonts/Navigo-Regular.woff2);
    font-weight: 400, 300, 200, 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Navigo Light;
    src: url(./Fonts/Navigo-Light.woff2);
    font-weight: 400, 300, 200, 100;
    font-style: normal;
    font-display: swap;
}
/* End of Fonts */

/* Loading screen / Экран загрузки */
.loadingScreen {
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* End of Loading screen / Экран загрузки */

/* Body - Тело */
.section-names {
    font-size: 25.19px;
    line-height: 34px;
    font-family: Navigo Regular;
}
.section-links {
    font-size: 14.41px;
    line-height: 22px;
    font-family: Navigo Regular;
}
/* End of Body - Тело */

/* Back to top button */
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    font-size: 3px;
}
.back-to-top-svg {
    fill: #EDE5D5;
}
/* End of Back to top button */

/* Navbar */
.custom-nav {
    z-index: 4;
    box-shadow: 0px -15px 50px 0px rgba(34, 60, 80, 0.2);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 2.2rem;
}
.custom-collapsed-nav {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 1.2rem;
}
/* Navbar Brand (Галерея) */

/* If the screen size is 768px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 768px) {
    .auto-resize-navbar-brand {
        font-size: 1.7rem;
    }
}

/* Language button */
.lang-button {
    transition: all .5s ease;
    color: #517E5D;
    border: 1.3px solid #848CA3;
	align-items: center;
    font-size: 11.81px;
    line-height: 16px;
    font-family: Navigo Regular;
	cursor: pointer;
	touch-action: manipulation; 
}
.lang-button:hover, .lang-button:active {
    color: #517E5D;
    border: 1.3px solid #848CA3;
    background-color: #848CA326;
}
/* End of Language button */


/* Navbar Menu Button */
.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width:92.47px;
    height: 50px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    /* border: 3px solid #fff; */
}
.menu-btn-title {
    font-family: Navigo Regular;
    font-weight: 400;
    font-size: 1rem;
    line-height: 16px;
}
.menu-btn__burger {
    width: 23px;
    height: 2.7px;
    background: #517E5D;
    border-radius: 5px;
    /* box-shadow: 0 1px 1px #5E916F; */
    transition: all .5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 23px;
    height: 2.7px;
    background: #517E5D;
    border-radius: 5px;
    /* box-shadow: 0 1px 1px #5E916F; */
    transition: all .5s ease-in-out;
}
.menu-btn__burger::before {
    transform: translateY(-7px);
}
.menu-btn__burger::after {
    transform: translateY(7px);
}
/* ANIMATION */
.menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

/* End of Navbar Menu Button */
/* End of Navbar */

/* 2 Главные кнопки наверху */
.worktimesUnlocked {
    width: 370px;
    height: 143px;
    background-color: #EDE5D5;
    position: absolute;
    z-index: 2;
    border-radius: 17px;
    display: none;
}
.worktime-day {
    font-size: 11.65px;
    font-family: Navigo Light;
    color: #848CA3;
}
.worktime-time {
    font-size: 9.65px;
    font-family: Navigo Light;
    color: black;
}
.locationUnlocked {
    width: 239px;
    height: 191px;
    background-color: #EDE5D5;
    position: absolute;
    z-index: 2;
    border-radius: 17px;
    display: none;
}
.yandexMapButton {
    border: 2px solid #848CA3;
    border-radius: 7px;
	align-items: center;
    font-size: 11.81px;
    line-height: 16px;
    font-family: Navigo Regular;
	cursor: pointer;
	touch-action: manipulation; 
    height: 2.55rem;
}
.googleMapButton {
    border: 2px solid #848CA3;
    border-radius: 7px;
	align-items: center;
    font-size: 11.81px;
    line-height: 16px;
    font-family: Navigo Regular;
	cursor: pointer;
	touch-action: manipulation; 
    height: 2.75rem;
}
.yandexMapButton:hover, .yandexMapButton:active, .googleMapButton:hover, .googleMapButton:active {
    border: 2px solid #848CA3;
    background-color: #848CA326;
}
.locationMapButtonIMG {
    height: 100%;
    object-fit: cover;
}
/* End of 2 Главные кнопка наверху */

/* Карусель */
.customCarouselSection {
    position: relative;
    z-index: 1;
}
.customCarouselSize {
    width: 61.8%;
}
.custom-carousel-div { 
    border-radius: 30px;
}
.custom-carousel-item {
    height: 32rem;
}
.custom-carousel-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

/* End of Карусель*/


/* Верхние кнопки страницы */
.custom-top-buttons {
    width: 170px;
    height: 48px;
    font-size: 14.65px;
    line-height: 22px;
    font-family: Navigo Regular;
}
/* End of Верхние кнопки страницы*/

/* 6 кнопок под карусели */
.custom-main-bottom-buttons {
    width: 30%;
    height: 55px;
    font-size: 14.65px;
    line-height: 22px;
    font-family: Navigo Regular;
}
/* End of 6 кнопок под карусели */

/* Кнопки услуг */
.service {
    display: flex;
    justify-content: space-between;
    background-color: #EDE5D7;
}
.service-box {
    display: flex;
    width: 198px;
    height: 130px;
    background-color: #5F8A6D;
    border-radius: 1rem;
    padding: 20px 20px 12px;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    transition: all .2s ease-in-out;
    cursor: pointer;
}
.service-box:hover {
    transform: scale(1.037); 
}
.service-icon {
    width: 48px;
    height: 48px;
    background-color: #4F545F;
}
.service-name {
    display: flex;
    font-size: 14.41px;
    line-height: 22px;
    font-family: Navigo Regular;
    color:#EDE5D7;
    align-items: center;
    padding: 10px 0 0 0
}
/* End of кнопки услуг */

/* Кнопки акций */
.promotion {
    display: flex;
    justify-content: space-between;
    background-color: #EDE5D7;
}
.promotion-box {
    display: flex;
    width: 200px;
    height: 353px;
    background-color: #5F8A6D;
    border-radius: 1rem;
    padding: 20px 20px 12px;
    flex-flow: column;
    transition: all .2s ease-in-out;
    cursor: pointer;
}
.promotion-box:hover {
    transform: scale(1.037); 
}
.promotion-icon {
    width: 126px;
    height: 126px;
    background-color: #4F545F;
}
.promotion-name {
    display: flex;
    font-size: 21px;
    line-height: 29px;
    font-family: Navigo Regular;
    color:#EDE5D7;
    padding: 10px 0 0 0
}
.promotion-details {
    display: flex;
    font-size: 14.77px;
    line-height: 22px;
    font-family: Navigo Regular;
    color: #4F545F;
    padding: 10px 0 0 0
}
.promotion-date {
    display: flex;
    font-size: 11.25px;
    line-height: 16px;
    letter-spacing: 0.5px;
    font-family: Navigo Light;
    color: #EDE5D7;
    opacity: 0.7;
    flex-direction: column; 
    justify-content: flex-end;
}
/* End of кнопки акций */

/* Footer */
.custom-footer {
    box-shadow: 0px -15px 39px -30px rgba(34, 60, 80, 0.2);
}
.footer-address {
    font-size: 14.41px;
    line-height: 22px;
    font-family: Navigo Regular;
}
.footer-phone-number {
    font-size: 13.71px;
    line-height: 22px;
    font-family: Navigo Regular;
}
.footer-outlinedBoxes {
    border: 2px solid #848CA3;
    border-radius: 7px;
    width: 36px;
    height: 36px;
}
/* End of Footer */