/* --------------- Fonts ---------------- */
@font-face {
    font-family: Navigo Regular;
    src: url(./Fonts/Navigo-Regular.woff2);
    font-weight: 400, 300, 200, 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: Navigo Light;
    src: url(./Fonts/Navigo-Light.woff2);
    font-weight: 400, 300, 200, 100;
    font-style: normal;
    font-display: swap;
}
/* --------------- End of Fonts ---------------- */

/* --------------- Body ---------------- */
html, body {
    /* removes horizontal scroll */
    max-width: 100%;
    overflow-x: hidden;
}
/* --------------- End of Body ---------------- */

/* --------------- Items ---------------- */
.address_text {
    font-size: 14.41px;
    line-height: 22px;
    font-family: Navigo Regular;
    font-weight: 300;
}
.phone-number_text {
    font-size: 13.71px;
    line-height: 22px;
    font-family: Navigo Regular;
    font-weight: 300;
}
/* --------------- End of Items ---------------- */

/* --------------- End of Loading screen / Экран загрузки ---------------- */
.loadingScreen {
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* --------------- End of Loading screen / Экран загрузки ---------------- */

/* --------------- Back to top button ---------------- */
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    font-size: 3px;
}
.back-to-top-svg {
    fill: #EDE5D5;
}
/* --------------- End of Back to top button ---------------- */

/* --------------- Navbar ---------------- */

.custom-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: calc(100vw - 1.1rem);
    max-width: 100%;
    box-shadow: 0 1rem 1.2rem rgba(35, 37, 45, .05);
    transform: translateY(0);
    transition: transform .3s;

    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 2.2rem;
}
@media (max-width: 769px) {
    .custom-nav {
        width: 100%;
    }
}

.custom-nav.hide{
    transform: translateY(-100%);
}

.custom-collapsed-nav {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 1.2rem;
}
.menu_column {
    flex-direction: column;
}
.menu_text {
    text-decoration: none;
    font-size: 17.77px;
    line-height: 22px;
    font-family: Navigo Regular;
    font-weight: 500;
}
/* Navbar Brand (Галерея) */

/* If the screen size is 768px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 768px) {
    .auto-resize-navbar-brand {
        font-size: 1.7rem;
    }
}

/* Language button */
.lang-button {
    transition: all .5s ease;
    color: #517E5D;
    border: 1.3px solid #848CA3;
	align-items: center;
    font-size: 11.81px;
    line-height: 16px;
    font-family: Navigo Regular;
	cursor: pointer;
	touch-action: manipulation; 
}
.lang-button:hover, .lang-button:active {
    color: #517E5D;
    border: 1.3px solid #848CA3;
    background-color: #848CA326;
}
/* End of Language button */

/* Navbar Menu Button */
.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    /* border: 3px solid #fff; */
}
.menu-btn-title {
    font-family: Navigo Regular;
    font-weight: 400;
    font-size: 1rem;
    line-height: 16px;
    padding: 0.2rem 0 0 0.2rem;
}
.menu-btn__burger {
    width: 23px;
    height: 2.7px;
    background: #517E5D;
    border-radius: 5px;
    /* box-shadow: 0 1px 1px #5E916F; */
    transition: all .5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
    content: '';
    position: absolute;
    width: 23px;
    height: 2.7px;
    background: #517E5D;
    border-radius: 5px;
    /* box-shadow: 0 1px 1px #5E916F; */
    transition: all .5s ease-in-out;
}
.menu-btn__burger::before {
    transform: translateY(-7px);
}
.menu-btn__burger::after {
    transform: translateY(7px);
}
/* ANIMATION */
.menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

/* End of Navbar Menu Button */

/* --------------- End of Navbar ---------------- */

/* --------------- Footer ---------------- */
.custom-footer {
    box-shadow: 0px -15px 39px -30px rgba(34, 60, 80, 0.2);
}
.footer-outlinedBoxes {
    border: 2px solid #848CA3;
    border-radius: 7px;
    width: 36px;
    height: 36px;
}
/* --------------- End of Footer ---------------- */

/* --------------- Mobile Navigation / Sidenav ---------------- */
/* The side navigation menu */
.sidemenu {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #EDE5D5; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidemenu */
}
/* The navigation menu links */
.sidemenu a {
    text-decoration: none;
}
/* When you mouse over the navigation links, change their color */
.sidemenu a:hover {
    color: #f1f1f1;
}
/* Position and style the close button (top right corner) */
.sidemenu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
/* #main {
    transition: margin-left .5s;
    padding: 20px;
} */
/* On smaller screens, where height is less than 450px, change the style of the sidemenu (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidemenu {padding-top: 15px;}
    .sidemenu a {font-size: 18px;}
}
.menuButton_separator {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    margin: 0.5rem 1.5rem;
    border: 0;
    border-top: 1px solid #606575;
}
.sidemenu_text {
    padding: 8px 8px 8px 20px;
    line-height: 20px;
    font-family: Navigo Light;
    font-size: 17.41px;
    font-weight: 500;
    color: #517E5D;
    text-decoration: none;
    display: block;
    transition: 0.3s;
}
.closebtn {
    font-weight: 200;
}
/* --------------- End of Mobile Navigation ---------------- */