
/* Карусель */
.custom-carousel-div { 
    border-radius: 30px;
}
.custom-carousel-item {
    height: 32rem;
}
.custom-carousel-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}