.container--0- {
    position: absolute;
    left: 100px;
    top: 100px;
    width: 1920px;
    height: 2977px;
    background-color: #ffffff;
    justify-content: start;
    align-items: start;
  }
  .container-0-1-0 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1920px;
    height: 2977px;
    justify-content: start;
    align-items: start;
  }
  .container-1-2-0 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1920px;
    height: 60px;
    background-color: #ede5d7;
    justify-content: start;
    align-items: start;
  }
  .container-2-3-0 {
    position: absolute;
    left: 412px;
    top: 0px;
    width: 1096px;
    height: 60px;
    justify-content: start;
    align-items: start;
  }
  .container-3-4-0 {
    position: absolute;
    left: 0px;
    top: 10px;
    width: 94.83000183105469px;
    height: 40px;
    justify-content: start;
    align-items: start;
  }
  .container-4-5-0 {
    position: absolute;
    left: 14px;
    top: 8px;
    width: 20px;
    height: 20px;
    justify-content: start;
    align-items: start;
  }
  .container-5-6-0 {
    position: absolute;
    left: 8px;
    top: 8px;
    width: 20px;
    height: 20px;
    justify-content: start;
    align-items: start;
  }
  .container-6-7-0 {
    position: absolute;
    left: 76px;
    top: 20px;
    width: 48px;
    height: 48px;
    background-color: #4f545f;
    justify-content: start;
    align-items: start;
  }
  .container-7-8-0 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 48px;
    height: 48px;
    justify-content: start;
    align-items: start;
  }
  .text-5-6-1 {
    width: 57.38999938964844px;
    height: 26px;
    color: #ede5d7;
    font-size: 17.4375px;
    font-family: Inter, "Regular";
    font-weight: 400;
    text-align: left;
    vertical-align: center;
  }
  .container-4-5-1 {
    position: absolute;
    left: 46px;
    top: 0px;
    width: 36px;
    height: 36px;
    background-color: #3d4251;
    justify-content: start;
    align-items: start;
    border-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .container-4-5-2 {
    position: absolute;
    left: 92px;
    top: 0px;
    width: 36px;
    height: 36px;
    background-color: #3d4251;
    justify-content: start;
    align-items: start;
    border-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .container-4-5-3 {
    position: absolute;
    left: 138px;
    top: 0px;
    width: 36px;
    height: 36px;
    background-color: #3d4251;
    justify-content: start;
    align-items: start;
    border-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .container-2-3-1 {
    position: absolute;
    left: 412px;
    top: 182px;
    width: 1096px;
    height: 204px;
    justify-content: start;
    align-items: start;
  }
  .container-4-5-4 {
    position: absolute;
    left: -672px;
    top: 66px;
    width: 200px;
    height: 130px;
    opacity: 1;
    filter: blur(5px);
    justify-content: start;
    align-items: start;
  }
  .container-2-3-2 {
    position: absolute;
    left: 0px;
    top: 96px;
    width: 1920px;
    height: 616px;
    background-color: #ffffff;
    justify-content: start;
    align-items: start;
  }
  .container-5-6-1 {
    position: absolute;
    left: 60.61000061035156px;
    top: 85px;
    width: 78.7699966430664px;
    height: 22px;
    justify-content: start;
    align-items: start;
  }
  .container-5-6-2 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1300px;
    height: 460px;
    justify-content: start;
    align-items: start;
    border-radius: 16px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }
  .container-5-6-3 {
    position: absolute;
    left: 1384.52001953125px;
    top: 20px;
    width: 1186.949951171875px;
    height: 420px;
    opacity: 1;
    filter: blur(10px);
    justify-content: start;
    align-items: start;
  }
  .container-5-6-4 {
    position: absolute;
    left: 102px;
    top: 321.8900146484375px;
    width: 348px;
    height: 168.11000061035156px;
    background-color: #0000006b;
    box-shadow: 0px 10px 50px 0 #171a24;
    backdrop-filter: blur(25px);
    justify-content: start;
    align-items: start;
    border-radius: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }
  .text-7-8-0 {
    width: 141.47000122070312px;
    height: 43px;
    color: #ede5d7;
    font-size: 14.4140625px;
    font-family: Inter, "Regular";
    font-weight: 400;
    text-align: center;
    vertical-align: center;
  }
  .container-6-7-1 {
    position: absolute;
    left: 60.61000061035156px;
    top: 85px;
    width: 78.7699966430664px;
    height: 22px;
    justify-content: start;
    align-items: start;
  }
  .text-7-8-1 {
    width: 99.37000274658203px;
    height: 26px;
    color: #ede5d7;
    font-size: 18px;
    font-family: Inter, "Regular";
    font-weight: 400;
    text-align: left;
    vertical-align: center;
  }
  .container-2-3-3 {
    position: absolute;
    left: 0px;
    top: 916px;
    width: 1920px;
    height: 256px;
    background-color: #ede5d7;
    justify-content: start;
    align-items: start;
  }
  .text-4-5-0 {
    width: 116.26000213623047px;
    height: 21px;
    color: #3893ff;
    font-size: 15px;
    font-family: Inter, "Regular";
    font-weight: 400;
    text-align: left;
    vertical-align: center;
  }
  .text-5-6-0 {
    width: 143.5399932861328px;
    height: 26px;
    color: #ede5d7;
    font-size: 17.296875px;
    font-family: Inter, "Regular";
    font-weight: 400;
    text-align: left;
    vertical-align: center;
  }
  .container-4-5-5 {
    position: absolute;
    left: -448px;
    top: 66px;
    width: 200px;
    height: 130px;
    opacity: 1;
    filter: blur(5px);
    justify-content: start;
    align-items: start;
  }
  .container-8-9-0 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 48px;
    height: 48px;
    justify-content: start;
    align-items: start;
  }
  .container-9-10-0 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 46.08000183105469px;
    height: 47.36000061035156px;
    justify-content: start;
    align-items: start;
  }
  .container-7-8-1 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 48px;
    height: 48px;
    background-color: #4f545f;
    justify-content: start;
    align-items: start;
  }
  .container-4-5-6 {
    position: absolute;
    left: -224px;
    top: 66px;
    width: 200px;
    height: 130px;
    opacity: 1;
    filter: blur(5px);
    justify-content: start;
    align-items: start;
  }
  .container-4-5-7 {
    position: absolute;
    left: 0px;
    top: 66px;
    width: 200px;
    height: 130px;
    background-color: #5f8a6d;
    justify-content: start;
    align-items: start;
    border-radius: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }
  .text-6-7-0 {
    width: 78.97000122070312px;
    height: 21px;
    color: #ede5d7;
    font-size: 14.4140625px;
    font-family: Inter, "Regular";
    font-weight: 400;
    text-align: center;
    vertical-align: center;
  }
  .container-4-5-8 {
    position: absolute;
    left: 1120px;
    top: 66px;
    width: 200px;
    height: 353px;
    opacity: 1;
    filter: blur(5px);
    justify-content: start;
    align-items: start;
  }
  .container-4-5-9 {
    position: absolute;
    left: 1344px;
    top: 66px;
    width: 200px;
    height: 353px;
    opacity: 1;
    filter: blur(5px);
    justify-content: start;
    align-items: start;
  }
  .container-4-5-10 {
    position: absolute;
    left: 0px;
    top: 66px;
    width: 200px;
    height: 353px;
    background-color: #ffffff01;
    box-shadow: 0px 15px 30px -20 #23252d;
    justify-content: start;
    align-items: start;
    border-radius: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }
  .container-4-5-11 {
    position: absolute;
    left: 1012px;
    top: 0px;
    width: 36px;
    height: 36px;
    justify-content: start;
    align-items: start;
    border-radius: 18px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
  }
  .container-4-5-12 {
    position: absolute;
    left: 1096px;
    top: 36px;
    width: 36px;
    height: 36px;
    justify-content: start;
    align-items: start;
    border-radius: 18px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
  }
  .container-4-5-13 {
    position: absolute;
    left: 1344px;
    top: 66px;
    width: 200px;
    height: 130px;
    opacity: 1;
    filter: blur(5px);
    justify-content: start;
    align-items: start;
  }
  .container-4-5-14 {
    position: absolute;
    left: 1568px;
    top: 66px;
    width: 200px;
    height: 130px;
    opacity: 1;
    filter: blur(5px);
    justify-content: start;
    align-items: start;
  }
  .container-4-5-15 {
    position: absolute;
    left: 1792px;
    top: 66px;
    width: 200px;
    height: 130px;
    opacity: 1;
    filter: blur(5px);
    justify-content: start;
    align-items: start;
  }
  .container-4-5-16 {
    position: absolute;
    left: 2016px;
    top: 66px;
    width: 200px;
    height: 130px;
    opacity: 1;
    filter: blur(5px);
    justify-content: start;
    align-items: start;
  }
  .container-4-5-17 {
    position: absolute;
    left: 2240px;
    top: 66px;
    width: 200px;
    height: 130px;
    opacity: 1;
    filter: blur(5px);
    justify-content: start;
    align-items: start;
  }
  .container-4-5-18 {
    position: absolute;
    left: 2464px;
    top: 66px;
    width: 200px;
    height: 130px;
    opacity: 1;
    filter: blur(5px);
    justify-content: start;
    align-items: start;
  }
  .container-4-5-19 {
    position: absolute;
    left: 2688px;
    top: 66px;
    width: 200px;
    height: 130px;
    opacity: 1;
    filter: blur(5px);
    justify-content: start;
    align-items: start;
  }
  .container-4-5-20 {
    position: absolute;
    left: 2912px;
    top: 66px;
    width: 200px;
    height: 130px;
    opacity: 1;
    filter: blur(5px);
    justify-content: start;
    align-items: start;
  }
  .container-4-5-21 {
    position: absolute;
    left: 3136px;
    top: 66px;
    width: 200px;
    height: 130px;
    opacity: 1;
    filter: blur(5px);
    justify-content: start;
    align-items: start;
  }
  .container-4-5-22 {
    position: absolute;
    left: 3360px;
    top: 66px;
    width: 200px;
    height: 130px;
    opacity: 1;
    filter: blur(5px);
    justify-content: start;
    align-items: start;
  }
  .container-4-5-23 {
    position: absolute;
    left: 3584px;
    top: 66px;
    width: 200px;
    height: 130px;
    opacity: 1;
    filter: blur(5px);
    justify-content: start;
    align-items: start;
  }
  .container-4-5-24 {
    position: absolute;
    left: 3808px;
    top: 66px;
    width: 200px;
    height: 130px;
    opacity: 1;
    filter: blur(5px);
    justify-content: start;
    align-items: start;
  }
  .container-4-5-25 {
    position: absolute;
    left: 4032px;
    top: 66px;
    width: 200px;
    height: 130px;
    opacity: 1;
    filter: blur(5px);
    justify-content: start;
    align-items: start;
  }
  .container-4-5-26 {
    position: absolute;
    left: 4256px;
    top: 66px;
    width: 200px;
    height: 130px;
    opacity: 1;
    filter: blur(5px);
    justify-content: start;
    align-items: start;
  }
  .container-4-5-27 {
    position: absolute;
    left: 4480px;
    top: 66px;
    width: 200px;
    height: 130px;
    opacity: 1;
    filter: blur(5px);
    justify-content: start;
    align-items: start;
  }
  .container-4-5-28 {
    position: absolute;
    left: 4704px;
    top: 66px;
    width: 200px;
    height: 130px;
    opacity: 1;
    filter: blur(5px);
    justify-content: start;
    align-items: start;
  }
  .container-4-5-29 {
    position: absolute;
    left: 4928px;
    top: 66px;
    width: 200px;
    height: 130px;
    opacity: 1;
    filter: blur(5px);
    justify-content: start;
    align-items: start;
  }
  .container-4-5-30 {
    position: absolute;
    left: 5152px;
    top: 66px;
    width: 200px;
    height: 130px;
    opacity: 1;
    filter: blur(5px);
    justify-content: start;
    align-items: start;
  }
  .container-4-5-31 {
    position: absolute;
    left: 5376px;
    top: 66px;
    width: 200px;
    height: 130px;
    opacity: 1;
    filter: blur(5px);
    justify-content: start;
    align-items: start;
  }
  .container-4-5-32 {
    position: absolute;
    left: 5600px;
    top: 66px;
    width: 200px;
    height: 130px;
    opacity: 1;
    filter: blur(5px);
    justify-content: start;
    align-items: start;
  }
  .container-4-5-33 {
    position: absolute;
    left: 5824px;
    top: 66px;
    width: 200px;
    height: 130px;
    opacity: 1;
    filter: blur(5px);
    justify-content: start;
    align-items: start;
  }
  .container-4-5-34 {
    position: absolute;
    left: 6048px;
    top: 66px;
    width: 200px;
    height: 130px;
    opacity: 1;
    filter: blur(5px);
    justify-content: start;
    align-items: start;
  }
  .container-4-5-35 {
    position: absolute;
    left: 6272px;
    top: 66px;
    width: 200px;
    height: 130px;
    opacity: 1;
    filter: blur(5px);
    justify-content: start;
    align-items: start;
  }
  .container-4-5-36 {
    position: absolute;
    left: 6496px;
    top: 66px;
    width: 200px;
    height: 130px;
    opacity: 1;
    filter: blur(5px);
    justify-content: start;
    align-items: start;
  }
  .container-4-5-37 {
    position: absolute;
    left: 6720px;
    top: 66px;
    width: 200px;
    height: 130px;
    opacity: 1;
    filter: blur(5px);
    justify-content: start;
    align-items: start;
  }
  .container-4-5-38 {
    position: absolute;
    left: 6944px;
    top: 66px;
    width: 200px;
    height: 130px;
    opacity: 1;
    filter: blur(5px);
    justify-content: start;
    align-items: start;
  }
  .container-4-5-39 {
    position: absolute;
    left: 7168px;
    top: 66px;
    width: 200px;
    height: 130px;
    opacity: 1;
    filter: blur(5px);
    justify-content: start;
    align-items: start;
  }
  .container-4-5-40 {
    position: absolute;
    left: 7392px;
    top: 66px;
    width: 200px;
    height: 130px;
    opacity: 1;
    filter: blur(5px);
    justify-content: start;
    align-items: start;
  }
  .container-4-5-41 {
    position: absolute;
    left: 7616px;
    top: 66px;
    width: 200px;
    height: 130px;
    opacity: 1;
    filter: blur(5px);
    justify-content: start;
    align-items: start;
  }
  .container-4-5-42 {
    position: absolute;
    left: 7840px;
    top: 66px;
    width: 200px;
    height: 130px;
    opacity: 1;
    filter: blur(5px);
    justify-content: start;
    align-items: start;
  }
  .container-4-5-43 {
    position: absolute;
    left: 8064px;
    top: 66px;
    width: 200px;
    height: 130px;
    opacity: 1;
    filter: blur(5px);
    justify-content: start;
    align-items: start;
  }
  .container-4-5-44 {
    position: absolute;
    left: 8288px;
    top: 66px;
    width: 200px;
    height: 130px;
    opacity: 1;
    filter: blur(5px);
    justify-content: start;
    align-items: start;
  }
  .container-4-5-45 {
    position: absolute;
    left: 8512px;
    top: 66px;
    width: 200px;
    height: 130px;
    opacity: 1;
    filter: blur(5px);
    justify-content: start;
    align-items: start;
  }
  .container-4-5-46 {
    position: absolute;
    left: 8736px;
    top: 66px;
    width: 200px;
    height: 130px;
    opacity: 1;
    filter: blur(5px);
    justify-content: start;
    align-items: start;
  }
  .container-4-5-47 {
    position: absolute;
    left: 8960px;
    top: 66px;
    width: 200px;
    height: 130px;
    opacity: 1;
    filter: blur(5px);
    justify-content: start;
    align-items: start;
  }
  .container-4-5-48 {
    position: absolute;
    left: 9184px;
    top: 66px;
    width: 200px;
    height: 130px;
    opacity: 1;
    filter: blur(5px);
    justify-content: start;
    align-items: start;
  }
  .container-4-5-49 {
    position: absolute;
    left: 9408px;
    top: 66px;
    width: 200px;
    height: 130px;
    opacity: 1;
    filter: blur(5px);
    justify-content: start;
    align-items: start;
  }
  .container-4-5-50 {
    position: absolute;
    left: 9632px;
    top: 66px;
    width: 200px;
    height: 130px;
    opacity: 1;
    filter: blur(5px);
    justify-content: start;
    align-items: start;
  }
  .container-4-5-51 {
    position: absolute;
    left: 1012px;
    top: 0px;
    width: 36px;
    height: 36px;
    justify-content: start;
    align-items: start;
    border-radius: 18px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
  }
  .container-4-5-52 {
    position: absolute;
    left: 1096px;
    top: 36px;
    width: 36px;
    height: 36px;
    justify-content: start;
    align-items: start;
    border-radius: 18px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
  }
  .container-2-3-4 {
    position: absolute;
    left: 0px;
    top: 1172px;
    width: 1920px;
    height: 479px;
    background-color: #ede5d7;
    justify-content: start;
    align-items: start;
  }
  .container-2-3-5 {
    position: absolute;
    left: 0px;
    top: 1651px;
    width: 1920px;
    height: 1229px;
    background-color: #ede5d7;
    justify-content: start;
    align-items: start;
  }
  .text-3-4-0 {
    width: 103px;
    height: 22px;
    color: #ffffff;
    font-size: 14.53125px;
    font-family: Inter, "Regular";
    font-weight: 400;
    text-align: left;
    vertical-align: center;
  }
  .container-3-4-1 {
    position: absolute;
    left: 991.8900146484375px;
    top: 10px;
    width: 102.11000061035156px;
    height: 36px;
    border-width: 2px;
    border-style: solid;
    border-color: #848ca38a;
    justify-content: start;
    align-items: start;
    border-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .text-4-5-1 {
    width: 40.310001373291016px;
    height: 17px;
    color: #517e5d;
    font-size: 11.8125px;
    font-family: Inter, "Regular";
    font-weight: 400;
    text-align: center;
    vertical-align: center;
  }
  .text-3-4-2 {
    width: 187px;
    height: 22px;
    color: #5e916f;
    backdrop-filter: blur(4px);
    font-size: 40px;
    font-family: Times New Roman, "Bold";
    font-weight: 700;
    text-align: center;
    vertical-align: center;
  }
  .container-3-4-3 {
    position: absolute;
    left: 331.4800109863281px;
    top: 95px;
    width: 36px;
    height: 36px;
    border-width: 2px;
    border-style: solid;
    border-color: #848ca38a;
    justify-content: start;
    align-items: start;
    border-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .container-2-3-6 {
    position: absolute;
    left: 0px;
    top: 2673px;
    width: 1920px;
    height: 207px;
    background-color: #ede5d7;
    justify-content: start;
    align-items: start;
  }
  .container-1-2-1 {
    position: absolute;
    left: 0px;
    top: 2591px;
    width: 1920px;
    height: 386px;
    background-color: #ede5d7;
    justify-content: start;
    align-items: start;
  }
  .container-3-4-2 {
    position: absolute;
    left: 72px;
    top: 93px;
    width: 195.47999572753906px;
    height: 44px;
    justify-content: start;
    align-items: start;
  }
  .text-3-4-4 {
    width: 39.97999954223633px;
    height: 43px;
    color: #ffffff;
    font-size: 14.53125px;
    font-family: Inter, "Regular";
    font-weight: 400;
    text-align: left;
    vertical-align: center;
  }
  .container-3-4-5 {
    position: absolute;
    left: 141px;
    top: 72px;
    width: 70px;
    height: 96px;
    background-color: #8088a380;
    justify-content: start;
    align-items: start;
    border-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  .text-3-4-1 {
    width: 20.43000030517578px;
    height: 22px;
    color: #848ca3;
    font-size: 15px;
    font-family: Inter, "Regular";
    font-weight: 400;
    text-align: left;
    vertical-align: center;
  }
  .text-3-4-3 {
    width: 16.780000686645508px;
    height: 22px;
    color: #848ca3;
    font-size: 14.0625px;
    font-family: Inter, "Regular";
    font-weight: 400;
    text-align: left;
    vertical-align: center;
  }
  .text-3-4-6 {
    width: 17.34000015258789px;
    height: 22px;
    color: #848ca3;
    font-size: 13.828125px;
    font-family: Inter, "Regular";
    font-weight: 400;
    text-align: left;
    vertical-align: center;
  }
  .text-3-4-7 {
    width: 39.97999954223633px;
    height: 43px;
    color: #ffffff;
    font-size: 14.53125px;
    font-family: Inter, "Regular";
    font-weight: 400;
    text-align: left;
    vertical-align: center;
  }
  .text-3-4-8 {
    width: 18.479999542236328px;
    height: 22px;
    color: #848ca3;
    font-size: 14.6484375px;
    font-family: Inter, "Regular";
    font-weight: 400;
    text-align: left;
    vertical-align: center;
  }
  .text-3-4-9 {
    width: 39.97999954223633px;
    height: 43px;
    color: #ffffff;
    font-size: 14.53125px;
    font-family: Inter, "Regular";
    font-weight: 400;
    text-align: left;
    vertical-align: center;
  }
  .text-3-4-10 {
    width: 20.399999618530273px;
    height: 22px;
    color: #848ca3;
    font-size: 15px;
    font-family: Inter, "Regular";
    font-weight: 400;
    text-align: left;
    vertical-align: center;
  }
  .text-3-4-11 {
    width: 40.380001068115234px;
    height: 43px;
    color: #ffffff;
    font-size: 14.53125px;
    font-family: Inter, "Regular";
    font-weight: 400;
    text-align: left;
    vertical-align: center;
  }
  .text-3-4-12 {
    width: 17.93000030517578px;
    height: 22px;
    color: #848ca3;
    font-size: 14.765625px;
    font-family: Inter, "Regular";
    font-weight: 400;
    text-align: left;
    vertical-align: center;
  }
  .text-3-4-13 {
    width: 40.380001068115234px;
    height: 43px;
    color: #ffffff;
    font-size: 14.53125px;
    font-family: Inter, "Regular";
    font-weight: 400;
    text-align: left;
    vertical-align: center;
  }
  .container-3-4-14 {
    position: absolute;
    left: 566.8300170898438px;
    top: 48px;
    width: 112.97000122070312px;
    height: 22px;
    justify-content: start;
    align-items: start;
  }
  .container-3-4-15 {
    position: absolute;
    left: 566.8300170898438px;
    top: 90px;
    width: 112.97000122070312px;
    height: 22px;
    justify-content: start;
    align-items: start;
  }
  .container-3-4-16 {
    position: absolute;
    left: 566.8300170898438px;
    top: 132px;
    width: 112.97000122070312px;
    height: 22px;
    justify-content: start;
    align-items: start;
  }
  .container-3-4-17 {
    position: absolute;
    left: 735.7999877929688px;
    top: 48px;
    width: 130.63999938964844px;
    height: 22px;
    justify-content: start;
    align-items: start;
  }
  .container-3-4-18 {
    position: absolute;
    left: 735.7999877929688px;
    top: 90px;
    width: 130.63999938964844px;
    height: 22px;
    justify-content: start;
    align-items: start;
  }
  .container-3-4-19 {
    position: absolute;
    left: 735.7999877929688px;
    top: 132px;
    width: 130.63999938964844px;
    height: 22px;
    justify-content: start;
    align-items: start;
  }
  .container-3-4-20 {
    position: absolute;
    left: 922.4400024414062px;
    top: 48px;
    width: 157.55999755859375px;
    height: 22px;
    justify-content: start;
    align-items: start;
  }
  .container-3-4-21 {
    position: absolute;
    left: 922.4400024414062px;
    top: 90px;
    width: 157.55999755859375px;
    height: 22px;
    justify-content: start;
    align-items: start;
  }
  .container-0-1-1 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1920px;
    height: 60px;
    background-color: #ffffff01;
    box-shadow: 0px 10px 12px 0 #23252d;
    justify-content: start;
    align-items: start;
  }